@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
:root   {
    --dark-color : #3aa5a4 ;
    --light-color: #7ae5e4 ;
    --gary-color : rgba(80, 80, 80, 0.78);
}
html    {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5  {
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
body {
    margin: 0;
    background: rgb(58,165,164);
    background: linear-gradient(180deg, rgba(58,165,164,1) 0%, rgba(122,229,228,1) 100%);
    background-repeat: no-repeat;
    text-align: center;
    padding: 70px 0 60px 0 ;
    width: 100%;
}
.backgroundimg  {
    background-image: url("https://technext.github.io/energy1/assets/images/img-01.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    width: 80%;
    left: 10%;
    margin: 0;
    height: 700px;
    opacity: 10%;
    z-index: -1;
}
.title  {
    color: #FFFFFF;
    font-size: 3.5rem;
    font-weight: 400;
}
.subtitle   {
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0 0 90px 0;
}
section {
    margin: 70px 10vw 50px 10vw;
    padding: 70px;
    background-color: #FFFFFF;
    text-align: left;
}
.section-title  {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 40px
}
.about .container img   {
    width: 400px;
    float: left;
    margin-right: 50px;
}
.container  {
    width: 100%;
    text-align: center;
    overflow-y: hidden;
}
.about .container  {
    width: 100%;
    text-align: left;
}
.about .paragraph   {
    color: var(--gary-color);
    font-size: 1.3rem;
    line-height: 2rem;
}
.projects .container .img-card  {
    float: left;
    width: 33.33%;
}
.projects .container img    {
    width: 95%;
}
.projects .desc {
    text-align: left;
    padding: 0 2.5% 0 2.5%  ;
}
.img-title  {
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 15px;
}
.date   {
    color: var(--gary-color);
    margin-bottom: 5px;
}
.exp    {
    margin-top: 50px;
}
.exp .date   {
    margin: 0 0 5px 0;
}
.exp .position  {
    margin-top: 0;
    font-size: 1.3rem;
    font-weight: 600;
}
.exp .desc  {
    color: var(--gary-color);
    font-size: 1.1rem;
    line-height: 1.7rem;
}
.edu-card   {
    float: left;
    width: 33.33%;
    text-align: left;
}
.education .card-title  {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 600;
}
.school {
    font-size: 1.3rem;
    color: var(--gary-color);
}
.languages  {
    min-height: 200px;
}
.languages  .container  {
    text-align: center;
    margin-top: 70px;
}
.languages  .lang   {
    float: left;
    width: 33.33%;
    text-align: left;
}
.lang span:first-child  {
    font-size: 1.5rem;
    font-weight: 600;
}
.lang span:last-child   {
    font-size: 1.2rem;
    margin-left: 5px;
}

.social .icon   {
    display: inline-block;
    width: 30px;
}
.social .account    {
    float: left;
    width: 33.33%;
    text-align: left;
    box-sizing: border-box;
    position: relative;
    scale: 0.9;
}
.account:last-child .icon   {
    padding: 1%;
    border: solid 1px black;
    width: 23px;
    height: 23px;
    border-radius: 50%;
}
.account:last-child .icon svg  {
     width: 23px;
     height: 23px;
 }
.account .date  {
    line-height: 30px;
    color: black;
    font-size: 1.1rem;
    position: absolute;
    margin-left: 9px;
}
.contact form input , .contact form textarea {
    width: 98%;
    line-height: 3.2rem;
    margin-top: 20px;
    padding-left: 20px;
    border: none ;
    background-color: #EEEEEE;
    border-radius: 3px;
    font-size: 1.1rem;
    color: var(--gary-color);
    outline: none;
    max-width: 98%;
}
#submit {
    background-color: black;
    color: #FFFFFF;
    border-radius: 99999px;
    padding: 10px 15px;
    width: fit-content;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-top: 20px;
    border: none ;
    cursor: pointer;
    transition: all linear 400ms;
}
#submit:hover   {
    scale: 1.05;
}
.dcopyright {
    text-align: center;
}
.copyright  {
    color: #FFFFFF;
    bottom: 1.3rem;

}

